.day {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.dateDisplay {
  padding: 3px 0 10px;
  font-size: 1.25rem;
  font-weight: 400;
}

.sunday {
  color: var(--sunday-color);
}

.saturday {
  color: var(--saturday-color);
}

.numberDisplay {
  font-size: 2rem;
}

.rankDesc {
  flex: 50% 1 0;
  padding: 2px 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: start;
}
