.monthTitle {
  padding: 0.25rem;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #ffffff;
}

.month {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5em;
}

.day {
  flex: 0px 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: #ffffff;
}

.empty {
  background-color: #cccccc;
}
