.section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.monthTitle {
  width: 100%;
  max-width: 1260px;
  height: 2rem;
  margin: 1em auto;
  padding: 0.25rem;
  font-size: 1.5em;
  font-weight: bold;
  background-color: var(--h1-bg-color);
  color: var(--h1-fg-color);
}

.monthSkeleton {
  flex: auto 1 0;
  background-color: var(--skeleton-color);
}

.month {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5em;
}

.day {
  flex: 0px 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: var(--cell-bg-color);
  color: var(--cell-fg-color);
}

.empty {
  background-color: var(--cell-empty-bg-color);
}

@media (min-width: 901px) {
  .section {
    height: var(--calendar-table-height);
    contain: size layout paint;
  }
}

@media (max-width: 900px) {
  .monthTitle {
    margin: 0.25em 0;
  }

  .month {
    row-gap: 3px;
  }

  .week {
    flex-direction: column;
    align-items: stretch;
    row-gap: 3px;
  }

  .day {
    aspect-ratio: auto;
  }

  .empty {
    display: none;
  }
}
