.textarea {
  width: 100%;
  height: 30em;
}

.button {
  appearance: none;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background-color: #00b2e2;
  color: #fff;
  border-radius: 3px;
}
