.App {
  text-align: center;
}

.loading {
  font-size: 1.5em;
}

.header {
  font-size: calc(10px + 2vmin);
}

.main {
  padding: 1em;
}

.separator {
  border: none;
  border-bottom: 1px solid #e9e9e9;
}

.footer {
  font-size: 0.8em;
}
